name: migration-planner-agent-ui-on-push

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  wait:
    runs-on: ubuntu-latest
    steps:
      - name: Start mock pipeline
        run: echo "Starting mock pipeline..."

      - name: Wait 10 seconds
        run: sleep 10

      - name: Finish mock pipeline
        run: echo "Mock pipeline finished after 10 seconds."

